.find_password-whole-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #b516FF;
    width: 500px;
    height: calc(100vh - 103px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 20px;
    align-items: center;

}

/*상단 구역*/
.find_password-header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

/*상단 제목*/
.find_password-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

/*중간 입력부분*/
.find_password-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

/*제목과 입력창 엮기(일반 입력창)*/
.find_password-set{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box ;
}

.find_password-input-title{
    font-size: 18px;
    font-weight: bold;
}

.find_password-code-set {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 100%;
}

.find_password-enter {
    flex: 1;  
    box-sizing: border-box;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}

.find_password-send-code {
    white-space: nowrap;
    padding: 10px 15px;
    background-color: #b516FF;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.find_password-send-code:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .find_password-reset-password {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
  }
  
  /* 활성화 상태 */
  .find_password-reset-password:enabled {
    background-color: #b516ff;
  }
  
  /* 비활성화 상태 */
  .find_password-reset-password:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  