.edit-whole-container{
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    border: 1px solid #b516ff;
    width: 500px;
    height: calc(100vh - 103px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    padding: 20px 30px;
}

.edit-profile-set{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.edit-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #b516ff;
    border-radius: 20px;
}

.edit-profile-button{
    background-color: #b516ff;
    color: white;
    padding: 5px 10px;
}

.edit-input-set{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-title{
    font-weight: bold;   
}

.edit-input{
    border: 1px solid black;
    padding:5px;
    border-radius: 8px;
}

.edit-select-setting{
    width: 100%;
    display: flex;
    flex-direction: row;  /* 가로 배치 */
    gap: 20px;            /* 학년-학기 사이 간격 */
}

.each-set{
    display: flex;
    flex-direction: column; /* 제목 + select를 세로 배치 */
    flex: 1;                /* 공간 균등 분배 */

}

.edit-select{
    display:flex;
    flex-direction: column;
}