/* ✅ 브라우저 전체 높이를 채우기 */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ✅ 전체 App 영역 */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* vh 단위로 전체 화면 높이 확보 */
  background-color: #f0f0f0;
}

/* ✅ 메인 콘텐츠 영역 */
.app-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center; /* 중앙 정렬 */
  align-items: center;
  background-color: #f0f0f0;
  box-sizing: border-box;
}


/* ✅ 스크롤바 디자인 통일 (선택 사항) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b516ff;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
