.home-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 1400px;
  height: calc(100vh - 103px); /*헤더 높이 제외*/
  background-color: #f0f0f0;
  left: 50%;
  gap: 50px;
  transform: translateX(-50%);
}

.filter-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 70%;
  padding: 15px 20px 15px 25px;
  gap: 8px;
}

.book-list-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1050px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 한 줄에 4칸 */
  gap: 20px;
  box-sizing: border-box;
  align-items: start; /* 각 셀의 위쪽 정렬 */
  padding: 20px;
}

.filter-title {
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}

.filter-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  font-size: 20px;
  padding: 10px 0px;
  color: #000000;
}

/* 체크박스 숨기기 */
.checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
 /* 전체 라벨 정렬 */
  .checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    color: #000000;
  } 
  /* 커스텀 체크박스 */
  .custom-checkbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
  }
  
  /* 체크되었을 때 체크 표시 */
  .checkbox-wrapper input[type="checkbox"]:checked + .custom-checkbox::after {
    content: "✔";
    position: absolute;
    top:-3px;
    left: 6px;
  }
  
  
  
  /* 구분선 */
  .divider {
    display: block;
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 10px 0;
  }
  
  .book-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 줄에 4칸 */
    gap: 20px;
    box-sizing: border-box;
    align-items: start; /* 각 셀의 위쪽 정렬 */
    padding: 20px;
  }

  
  
  /* 각 책 카드 */
  .book-card {
    width: 100%; 
    border: 1px solid #ccc;
  }
  
  /* 이미지 스타일 */
  .book-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  /* 책 제목 */
  .book-title {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 0px;
  }
  
  .info-status-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* 가격 및 상태 */
  .book-price {
    font-size: 186;
    color: #000000;
  }

  .book-status {
    color: white;
    background-color: #AE00FF;
    padding: 3px 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
  }
  
  /* 날짜 */
  .book-date {
    font-size: 12px;
    color: #666;
  }
  