.single-page-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 103px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.imgset {
  position: relative;
  width: 700px;
  height: 700px;
  max-height: 700px;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.arrow-button {
  width: 100px;
  height: 100px;
}

.img-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text-section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.seller-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 50px;
}

.seller-info {
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.seller-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.seller-info {
  display: flex;
  font-size: 20px;
}

.siren-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* 위아래 배치 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  gap: 5px; /* 이미지와 텍스트 사이 간격 */
}

.siren {
  width: 50px;
  height: 50px;
}

.bookName-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px 0px 10px 0px;
  /* 또는 적절한 높이 설정 */
}

.price-likeCount {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.status {
  border: 1px solid #b516ff;
  border-radius: 15px;
  padding: 5px;
  background-color: #b516ff;
  color: white;
  font-weight: bold;
}

.price {
  font-weight: bold;
  font-size: 25px;
}

.created-at {
  color: gray;
  font-size: 13px;
}

.hearts {
  width: 16px;
  height: 16px;
}

.likeCount {
  font-weight: bold;
}

.content {
  position: relative;
  border: 1px solid #b516ff;
  border-radius: 20px;
  padding: 15px;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 10px;
}

.buy-button {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #b516ff;
  background-color: #b516ff;
  color: #f5f5f5;
  font-weight: bold;
  margin-top: 20px;
}
